################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/src/Yolov5Net.App/obj
/src/Yolov5Net.App/bin
/src/Yolov5Net.Scorer/bin/
/src/Yolov5Net.Scorer/obj
/YoloV5Net.WpfApp/bin/
/YoloV5Net.WpfApp/obj
