################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Yolov5Net
/src/Yolov5Net.App/obj
/src/Yolov5Net.Scorer/bin/Debug/net6.0
/src/Yolov5Net.Scorer/obj
/YoloV5Net.WpfApp/bin/Debug/net6.0-windows
/YoloV5Net.WpfApp/obj
